---
import { z } from "astro/zod";
import DocumentLayout from "@/layouts/DocumentLayout.astro";
import { getDocument } from "@/lib/data_client";

Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=86400, s-maxage=604800, stale-while-revalidate=86400",
);

const ParamsSchema = z.object({
    number: z.coerce.number().int().positive(),
    year: z.coerce.number().int().positive(),
});

const result = ParamsSchema.safeParse(Astro.params);

if (!result.success) {
    return Astro.rewrite("/404");
}

const { number, year } = result.data;
const data = await getDocument({ year, number });
if (!data) {
    return Astro.rewrite("/404");
}
const { docNumber, docTitle } = data;
const title = `${docNumber} ${docTitle}`;
---

<DocumentLayout title={title}>
    <main>
        <h1>{title}</h1>
    </main>
</DocumentLayout>
