---
import { z } from "astro/zod";
import BaseLayout from "@/layouts/BaseLayout.astro";

const PropsSchema = z.object({
    title: z.string(),
});

type Props = z.infer<typeof PropsSchema>;

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <header class="flex items-center justify-start h-16 px-8">
        <a href="/">
            <span
                class="logo-transition font-headline text-2xl font-extrabold tracking-tighter text-on-surface group-hover:text-primary transition-colors duration-300"
                >minil.</span
            >
        </a>
    </header>
    <slot />
</BaseLayout>
